{% extends 'base.html' %}

{% block body %}
    <h1 style="color: #5E5694">GoEvents app. These are list of all the places created.</h1>

    <div class="container mt-4 pt-2 mb-5">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <ul class="list-group">

                <div class="row col-12">

                    {% for place in places %}

                        <div class="p-1 border text-center card col-6">
                            <div class="card-body p-1">
                                <p class="card-title">{{ place.title }}</p>
                                <p style="color: darkgrey">{{ place.description|truncatechars:'120' }}</p>

                                {% for tag in place.tags.all %}
                                    <span style="font-weight: normal; font-size: small"
                                          class="badge bg-dark">{{ tag }}</span>

                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="mt-5"></div>

            </ul>

        </ul>
    </div>

{% endblock %}
